<div class="cultivation column">
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
            <li><a href="#">Bulma</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Components</a></li>
            <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li>
        </ul>
    </nav>
    <div class="content is-medium">
        <span class="tag is-success">Verified</span>
        <span class="tag is-warning">Organic</span>
        <h1 style="margin: 5px 0 10px 0;"><%= cultivation.title %></h1>
        <p><%= cultivation.description %></p>
    </div>
    <h1 class="title">Milestones</h1>

    <h2 class="subtitle">Each milestone of your cultivation.</h2>
    <% milestone.forEach(function(mile){ %>

    <div class="card milestone">
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4"> <%= mile.title %></p>
                </div>
            </div>

            <div class="content">
               
                <br>
                <%= mile.description %>
                <time datetime="2016-1-1"><%= mile.dates %></time>
            </div>
        </div>
    </div>
    <% }); %>
    <a class="button is-success" id="milestoneAdd" onclick="openModal()">Add new milestone</a>
    <form action="/cultivation/milestone" method="POST" enctype="multipart/form-data">
    <div class="modal create-milestone" id="milestoneModal">
        <div class="modal-background"></div>
        <div class="modal-card" style="margin-top: 80px;">
            <header class="modal-card-head">
                <p class="modal-card-title">Create Milestone</p>
                <button class="delete" aria-label="close" onclick="closeModal()"></button>
            </header>
            <section class="modal-card-body">
                    <div class="field">
                        <label class="label">Title</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Text" name="title">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Description</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="Textarea" name="description"></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Image</label>
                        <div class="file is-boxed">
                            <label class="file-label">
                                <input class="file-input" type="file" name="image">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Choose a file…
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox">
                                I agree to the <a href="#">terms and conditions</a>
                            </label>
                        </div>
                    </div>
                    <input class="input" type="hidden" name="cultivation_id" value="<%= cultivation.id %>">
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success">Save changes</button>
                <button class="button" onclick="closeModal()">Cancel</button>
            </footer>
        </div>
    </div>
</div>
</form>
<a class="button is-info">End Cultivation</a>

</div>